#intro-wrapper {
  background-image: url(/img/bg-curve.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  h1 {
    font-size: 2.75rem;
  }
  h2 {
    font-size: 1.75rem;
    font-weight: 400;
    color: $kettle-gray-200;
  }
  p {
    color: $kettle-gray-200;
    font-weight: 700;
  }
  #comp-wrapper {
    position: relative;
    padding-bottom: 80%;
    img {
      position: absolute;
      top: -75px;
      left: -50px;
      z-index: 1;
    }
    video {
      width: 394px;
      height: 400px;
      position: absolute;
      left: -41px;
      top: -100px;
      z-index: 0;
      transform: perspective(11cm) rotateX(6deg) rotateY(-16deg) skew(-5deg, -3deg);
    }
  }
}

#kettle-tablet-wrapper {
  #kettle-tablet {
    width: 400px;
    position: absolute;
    z-index: 1;
  }
}
#kettle-video-wrapper {
  #kettle-video {
    margin-left: 27px;
    margin-top: 25px;
    width: 346px;
    position: absolute;
  }

  // max-width: 100%;
  // height: auto;
  // left: 47px;
  // top: 62px;
  // z-index: 0;
}

.project__mockup {
  padding: 4em 3em;
  position: relative;
  margin: 0 auto;
}
.project_mockup {
  // padding: 4em 3em;
  position: relative;
  margin: 0 auto;
}
.tablet {
  margin: 0 auto;
  // perspective: 800px;
  background-image: url("/img/displays/kettle-tech-tablet-display.png");
  height: 600px;
  width: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  &__inner {
    width: 731px;
    position: relative;
    float: left;
    padding-top: 50px;
    padding-left: 58px;
    transform-origin: center;
    img {
      display: none;
    }
    video,
    img {
      height: 100%;
      width: 100%;
    }
    video {
      border-radius: 10px;
    }
    video::-webkit-media-controls {
      display: none;
    }
  }
}
.iphone {
  margin: 0 auto;
  perspective: 800px;
  background-image: url("/img/displays/kettle-header-desktop-display.png");
  height: 635px;
  width: 750px;
  margin-left: -90px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  &__inner {
    height: 331px;
    width: 647px;
    position: relative;
    margin-top: 96px;
    margin-left: -47px;
    float: left;
    transform-origin: center;
    transform: rotate3d(-2.5, 7, -0.4, -29deg);
    img {
      display: none;
    }
    video,
    img {
      height: 100%;
      width: 100%;
    }
    video::-webkit-media-controls {
      display: none;
    }
  }
}

#value {
  &:after {
    content: "%";
  }
}

#contact-wrapper {
  background-color: $kettle-black-100;
  background: url(/img/contact-bg.svg) center center;
  background-size: cover;
  min-height: 325px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-weight: 400;
  }
}

#how-reinsurance-works {
  box-shadow: 0px 3px 8px #00000010;
  background-color: $white !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  .risk-wrapper {
    background-image: url(/img/backgrounds/lin-mobile.svg);
    background-repeat: no-repeat;
    background-position: 10px;
  }
}

@media only screen and (min-width: 991px) {
  #how-reinsurance-works {
    background-image: url(/img/backgrounds/risk-bg-md.svg);
    img {
      margin-left: -50px;
    }
    #step-1 {
      padding-top: 100px;
    }
    #step-2 {
      padding-top: 75px;
    }
    #step-3 {
      padding-top: 50px;
    }
    #step-4 {
      padding-top: 25px;
    }
    #step-5 {
      padding-top: 0px;
    }
  }
}
@media only screen and (min-width: 1200px) {
  #intro-wrapper {
    #comp-wrapper {
      video {
        width: 860px;
        height: 400px;
        position: absolute;
        left: -41px;
        top: -72px;
        z-index: 0;
        transform: perspective(11cm) rotateX(6deg) rotateY(-16deg) skew(-5deg, -3deg);
      }
    }
  }
  .tablet {
    width: 1000px;
    height: 800px;
    &__inner {
      width: 913px;
      padding-top: 63px;
      padding-left: 75px;
    }
  }
  #how-reinsurance-works {
    background-image: url(/img/backgrounds/risk-bg.svg);
  }
}

@media only screen and (max-width: 991px) {
  #intro-wrapper {
    #comp-wrapper {
      img {
        top: -32px;
        left: -33px;
      }
      video {
        width: 291px;
        height: 400px;
        position: absolute;
        left: -22px;
        top: -104px;
        z-index: 0;
        transform: perspective(11cm) rotateX(6deg) rotateY(-16deg) skew(-5deg, -3deg);
      }
    }
  }
  #how-reinsurance-works {
    img {
      margin-right: -50px;
      z-index: 1;
    }
  }
}
@media only screen and (max-width: 767px) {
  #intro-wrapper {
    h1 {
      font-size: 1.75rem;
    }
    h2 {
      font-size: 1.25rem;
    }
    #comp-wrapper {
      img {
        top: -24px;
        left: -6px;
      }
      video {
        width: 435px;
        height: 400px;
        position: absolute;
        left: 5px;
        top: -31px;
        z-index: 0;
        transform: perspective(11cm) rotateX(6deg) rotateY(-16deg) skew(-5deg, -3deg);
      }
    }
  }
  .iphone {
    margin-left: 50px;
    margin-top: -75px;
  }
  #how-reinsurance-works {
    .risk-wrapper {
      background-position: -15px;
    }
  }
}
@media only screen and (max-width: 575px) {
  #intro-wrapper {
    #comp-wrapper {
      display: none;
    }
  }
  .tablet {
    width: 400px;
    height: 300px;
    &__inner {
      width: 367px;
      padding-top: 26px;
      padding-left: 28px;
    }
  }
  #how-reinsurance-works {
    .risk-wrapper {
      background-position: -40px;
    }
  }
}
