#intro-wrapper {
  background-image: url(/img/bg-curve.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  h1 {
    font-size: 2.75rem;
  }
  h2 {
    font-size: 1.75rem;
    font-weight: 400;
    color: $kettle-gray-200;
  }
  p {
    color: $kettle-gray-200;
    font-weight: 700;
  }
  #comp-wrapper {
    position: relative;
    padding-bottom: 80%;
    img {
      position: absolute;
      top: -75px;
      left: -50px;
    }
    video {
      width: 400px;
      position: absolute;
      left: -25px;
      top: 8px;
      // transform: skew(-8deg, -9deg);
      transform: perspective(13cm) rotateX(-2deg) rotateY(-20deg);
    }
  }
}

#kettle-tablet-wrapper {
  position: relative;
  padding: 40% 0;
  #kettle-tablet {
    position: absolute;
    width: 800px;
    top: -100px;
    right: -50%;
  }
  video {
    position: absolute;
    width: 678px;
    position: absolute;
    left: 213px;
    top: -45px;
    z-index: 1;
  }
}

#contact-wrapper {
  background-color: $kettle-black-100;
  background: url(/img/contact-bg.svg) center center;
  background-size: cover;
  min-height: 325px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-weight: 400;
  }
}

#how-reinsurance-works {
  box-shadow: 0px 3px 8px #00000010;
  background-color: $white !important;

  .wrapper {
    border-left: 1px dotted $kettle-gray-100;
  }
  .stage-step {
    display: flex;
    flex-direction: column;
    img {
      margin-bottom: 50px;
    }
  }
  #step-1 {
    margin-top: 200px;
  }
  #step-2 {
    margin-top: 150px;
  }
  #step-3 {
    margin-top: 100px;
  }
  #step-4 {
    margin-top: 50px;
  }
  #step-5 {
    margin-top: 0px;
  }
}
