<footer id="pageFooter">
<div class="container">
  <div class="row d-flex centered justify-content-md-between ">
    <div class="col-8 col-md-2  centered">
      <img
      class="img-fluid p-3 p-md-0"
      src="/img/logos/kettle-id-full-color-vert.svg"
      />
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end">
      <ul class="mt-3 mt-md-0 pl-0 text-center text-md-right">
        <li><a href="">Our Solutions</a></li>
        <li><a href="">Kettle Techonology</a></li>
        <li><a href="">Our Team</a></li>
        <li><a href="https://dev-1o3jlswz.auth0.com/u/login?state=g6Fo2SBDWEZ2MHBVN0xHb2Y3akwyc3FVZlVwZ2stdDQxWTlvaqN0aWTZIFdYVGV3TmFISW82V0Rlcl9lYmtaTVcxay1hTEp6M1d0o2NpZNkgQ1VEOXRaTG55UERweHVqa0hZYmk4bU5rQ3BwWlF0VTc">Login</a></li>
      </ul>
    </div>
  </div>
</div>


</footer>