// CARD SLIDE IN
@keyframes cardSlideIn {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.card {
  // Loop through the cards and delay the loading animation.
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      @include animation(cardSlideIn, 0.8s, 0.1s * $i);
    }
  }
}

.animated-border {
  background-image: linear-gradient(white, white), linear-gradient(180deg, $salmon, $yellow 50%, $salmon);
  background-repeat: no-repeat;
  background-size: 100% 100%, 100% 200%;
  background-position: 0 0, 0 100%;
  background-origin: padding-box, border-box;
  animation: highlight 2s infinite alternate;
}

@keyframes highlight {
  100% {
    background-position: 0 0, 0 0;
  }
}

@keyframes ButtonColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes textFadeUp {
  from {
    opacity: 0;
    transform: translatey(25px);
  }
  to {
    opacity: 1;
    transform: translatey(0px);
  }
}

.fade-up,
.animate {
  opacity: 0;
  transition: 1s;
}

.fade-up {
  &.active {
    transform: translateY(0px);
    animation: textFadeUp 1.2s;
    animation-fill-mode: forwards;
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        animation-delay: 0.2s * $i;
      }
    }
  }
}
